@import "compass/css3";

//mixins

@mixin breakpoint($point) {
	@if $point == small-mobile {
		@media only screen and (max-width: 320px)  { @content; }
	}
	@elseif $point == mobile {
		@media only screen and (max-width: 480px)  { @content; }
	}
	@else if $point == tablet {
		@media only screen and (max-width: 768px) { @content; }
	}
}

// vars
$font-color: #333;

@import "nav";

body {
	font-family:'Lato',sans-serif;
	color: $font-color;
	margin:0;
}

#wrapper {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 0 0 20px 20px;
}

h1 {
	font-size: 40px;
	font-family: 'Mouse Memoirs', sans-serif;
	margin: 12px 0;
}
h2 {
	font-size: 20px;
	margin: 8px 0;
}
p {
	font-size: 16px;
}

header {
	position: relative;
	margin: 10px 0;
	padding: 0 10px;
	h1 {
		padding-top: 0;
	}
	h2 {
		position: absolute;
		top: 5px;
		right: 20px;
		font-weight: 400;
		@include breakpoint(tablet) {
			position: static;
			text-align: right;
		}
	}
}

section {
	padding: 0 10px;
	a {
		color: black;
		text-decoration: none;
		border-bottom: 1px dotted black;
		&:hover {
			border-bottom: 1px solid black;
		}
	}
}

.important {
	background-color:#BF1E4B;
	padding: 6px;
	font-size: 18px;
	color: white;
	@include border-radius(10px);
}

// None of this is needed:

//#right-1
//{
//	float:right;
//	background-color:#CCC;
//	color:#000000;
//	width:25%;
//	padding-top:6px;
//	padding-bottom:6px;
//	font-size:14px;
//}

//#left{
//	border-top-left-radius:0.5em;
//	border-bottom-left-radius:0.5em;
//}
//#right-1{border-top-right-radius:0.5em;border-bottom-right-radius:0.5em;}

//.red{background-color:#BF1E4B;}